<h2>Driver</h2>
<div class="container">
	<ul>
		<li ng-repeat="driver in driver.drivers">
			<div class="ui cards">
				<div class="card">
					<div class="content">
			  			<div class="header">
			    			{{ driver.name }}
			  			</div>
			  			<div class="description">
			    			{{ driver.number }}
			  			</div>
					</div>
					<div class="extra content">
			  			<div class="ui two buttons">
			    			<div class="ui basic green button">Edit</div>
			    			<div class="ui basic red button">Delete</div>
			  			</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>